.main {
    background-size: cover;
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/e8/f5/b2/e8f5b24da6859d7e51b54f9b44236a6b.jpg");
    background-repeat: no-repeat;
    font-size: 20px;
    width:450px;
    height: 450px;
 
}
div {
    width: 30px;
    height: 30px;
  
    border: solid 1px;
    padding: 30px;
}

#box1 {

    margin-left: 360px;
    border-color: red cyan black gold;
    background: linear-gradient(45deg, red, blue);
    color: black;
}

#box2 {
    margin-left: 270px;
    border-color: red cyan black gold;
    background: linear-gradient(45deg, red, blue);
    color: black;
}

#box3 {
    margin-left:180px;
    background: linear-gradient(45deg, yellow, lightgreen);
    border-color: red black gold blue; 
}

#box4 {
    margin-left: 90px;

    background: linear-gradient(45deg, red, blue);
    border-color: maroon cyan magenta lightblue;
}

#box5 {
  
    background: linear-gradient(45deg, maroon, yellow);
    border-color: maroon yellow black navy;
}
