
body {
    background-size: contain;
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/5e/57/87/5e5787e06c1defb6808a4fc2d4fb33ae.jpg");
    background-repeat: no-repeat;
    background-size:cover;
   

}

div {
    width: 10px;
    height: 10px;
    text-align: center;

    border: solid 0.4em;
    padding: 50px 10px 10px 50px;
    background-size: 200px 100px;
}
#box1 {
    margin-left: 1180px;
    
    text-align: center;
   
    border-color: red cyan black gold;
    background: linear-gradient(45deg, red, blue);
   
    color: black;


}

#box2 {
    margin-left: 1107px;
    text-align: center;
   
    border-color: red cyan black gold;
    background: linear-gradient(45deg, red, blue);
   
    color: black;


}

#box3 {
    margin-left: 1034px;

    background: linear-gradient(45deg, yellow, lightgreen);
    border-color: red black gold blue;
    color: black;

}

#box4 {
    margin-left: 961px;

    background: linear-gradient(45deg, red, blue);
    border-color: maroon cyan magenta lightblue;
    color: black;

}

#box5 {
    margin-left: 888px;
    background: linear-gradient(45deg, maroon, yellow);
    border-color: maroon yellow black navy;
    color: black;
}

#box6 {
    margin-left: 815px;
    background: linear-gradient(45deg, navy, blue);
    border-color: black maroon olivedrab orchid;
    color: black;

}
#box7 {
    margin-left: 742px;
    background: linear-gradient(45deg, navy,white);
    border-color:royalblue maroon midnightblue mediumspringgreen;
    color: black;

}
#box8 {
    margin-left: 669px;
    background: linear-gradient(45deg, navy, blue);
    border-color: black maroon olivedrab orchid;
    color: black;

}
#box9 {
    margin-left: 596px;
    background: linear-gradient(45deg, navy, blue);
    border-color: black maroon olivedrab orchid;
    color: black;

}
#box10 {
    margin-left: 523px;
    background: linear-gradient(45deg, navy, blue);
    border-color: black maroon olivedrab orchid;
    color: black;

}